!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}

    = favicon_link_tag 'icon.ico'

    %title Chronos Translator

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: "#{controller_name}_#{params[:action]}" }
    = render "partials/topnav"

    .container-fluid
      .row
        .col-sm-12
          = yield
    
    .row.dependency-row.text-center
      .col-sm-6
      .col-sm-1
        = image_tag "ubuntu.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b Ubuntu

      .col-sm-1
        = image_tag "mose.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b Moses

      .col-sm-1
        = image_tag "rails.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b ROR

      .col-sm-1
        = image_tag "redis.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b Redis

      .col-sm-1
        = image_tag "sidekiq.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b Sidekiq

      .col-sm-1
        = image_tag "bootstrap.png", class: "img-thumbnail", size: '200x200'
        %p.title-dep
          %b Boostrap
